<nav class="navbar navbar-expand-lg navbar-light bg-light my-2 py-2 mb-5">
  <div class="my-2 container-fluid align-self-start justify-self-center">
    <a routerLink="" class="navbar-brand" href="#">My Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink = "dashboard" class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Features
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">My Account</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <button routerLink="" class="btn-danger mx-4"> Logout </button>
    </div>
  </div>
</nav>

<div class="d-flex container">
  <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.picsum.photos/id/985/2560/1080.jpg?hmac=derTRnylLZ06TmVsuMqq_OKiFRPLbXEEk-GMroksXKI"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.picsum.photos/id/0/2560/1080.jpg?hmac=NC_uQCjaxc3dKAoHHeKDWiRWit352HMBgO7gD4-sgWw"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.picsum.photos/id/350/2560/1080.jpg?hmac=IfqUj66uZ8fzrvHH2c078_QJoSyudTfsiXbMd2a0LOY"
          class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
  
  <div class="container col-5 d-flex justify-contents-center align-items-center min-vh-75">
    <div class="card mx-5" style="width: 18rem;">
      <img src="https://i.picsum.photos/id/350/2560/1080.jpg?hmac=IfqUj66uZ8fzrvHH2c078_QJoSyudTfsiXbMd2a0LOY"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Product 1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mx-5" style="width: 18rem;">
      <img src="https://i.picsum.photos/id/350/2560/1080.jpg?hmac=IfqUj66uZ8fzrvHH2c078_QJoSyudTfsiXbMd2a0LOY"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Product 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mx-5" style="width: 18rem;">
      <img src="https://i.picsum.photos/id/350/2560/1080.jpg?hmac=IfqUj66uZ8fzrvHH2c078_QJoSyudTfsiXbMd2a0LOY"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Product 3</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

   